* { margin: 0px; padding: 0px; }

header { margin: 30px; padding: 10px; }
header #pTitle { font-size: xx-large; font-weight: 800; }

header ul {
    margin: 10px;
    padding: 20px;
    display: flex;
    justify-content: end;
}

header ul li {
    list-style: none;
    margin: 5px;
}

header ul li a {
    text-decoration: none;
    background-color: #60b5ff;
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 10%
}

header ul li a:hover {
    text-decoration: none;
    background-color: aliceblue;
    color: #60b5ff;
    display: inline-block;
    padding: 5px;
    border-radius: 10%
}

body {
    background-color: aliceblue;
}

main {
    margin: 30px;
}

main article .title {
    padding: 0px 0px 10px 0px;
}

main article p {
    padding: 10px 0px 20px 0px;
}

main img {
    border-radius: 50%;
    display: inline-block;
    width: 100px;
    height: 100px;
}

main section {
    background-color: white;
    margin: 20px 0px;
    padding: 15px;
}

main section .item {
    display: flex;
    margin: 10px
}

main section .item p {
    margin: 10px 40px;
}

footer {
    background-color: black;
    padding: 30px 100px;
    font-size: small;
    font-weight: 100;
    color: white;
}

@media screen and (min-width: 1024px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    main article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}